@import 'compass';
@import 'base';
@import 'normalize';

/* =============================================================================
   BASE STYLES 
   ========================================================================== */

body {
  // Global styles + mobile
  color: $text-color;
  background-color: $page-bg;

  // Example media query at 45em / 720px / tablet range
  @include respond-min(45em) {
    padding: 2em;
  }

  // Example media query at 60em / 960px / desktop range
  @include respond-min(75em) {
    padding: 5em;
  }
}

a {
  color: $link-color;

  @include old-ie {
    // These hacks won't appear in the normal stylesheet
    display: inline;
    zoom: 1;
    whatever-ie-needs: le-sigh;
  }

}
