@import 'compass';

@import 'variables';
@import 'mixins';

@import 'normalize';

/* =============================================================================
   BASE STYLES 
   ========================================================================== */

body {
  background: $darkblue;
  text-align: center;
  color: $text-color;
  @include small-screen {
    background: #c5c5c5;
  }
  @include medium-screen {
    background: #e5e5e5;
  }
  @include large-screen {
    background: #f5f5f5;
  }
}

a {
  color: $link-color;
}
